@model Project.Models.ViewModels.EditTagRequest

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Tag - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" id="id" value="@Model.Id" readonly />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" id="Name" /> <!--name="displayName" for Manually Reading Inputs in AdminTagsController -->
        </div>
        <div class="mb-3">
            <label class="form-label">Display Name</label>
            <input type="text" class="form-control" asp-for="DisplayName" id="displayName" /> <!--name="displayName" for Manually Reading Inputs in AdminTagsController -->
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-outline-dark">Update</button>
        </div>
    </form>
</div>